@import '../../assets/scss/mixin';

.container {
  height: 100%;
  background-color: #ffeec2;
}

.storyRead {
  height: 100%;
  padding: 20rpx;
  color: #3b334f;
  background-color: #ffeec2;

  .chapter-header {
    margin: 40rpx 0 20rpx;
    font-size: 32rpx;
    font-weight: bold;
    text-align: center;
  }

  .chapter-info {
    font-size: 24rpx;
    text-align: center;
  }

  .chapter-content {
    line-height: 60rpx;
  }
}

.storyAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60rpx;

  button {
    padding: 10rpx 20rpx;
    color: #fff;
    background-color: #8f3931;
    border-radius: 10rpx;
  }

  .toShare {
    padding: 10rpx 40rpx;
    color: #fff;
    background-color: #ff397e;
  }
}
