@import '../../assets/scss/mixin';

.container {
  height: 100%;
  background-color: #fff;
}

.take-out-food {
  background-color: #fff;

  .food-list {
    .food-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20rpx;
      margin-bottom: 20rpx;
      border-bottom: 1px solid #ddd;

      .food-image {
        width: 200rpx;
        height: 200rpx;
        margin-right: 20rpx;
      }

      .food-desc {
        flex: 1;

        .name {
          margin-bottom: 10rpx;
        }

        .minimum_order {
          margin-bottom: 10rpx;
          font-size: 24rpx;
          color: #666;
        }

        .tag {
          text {
            display: inline-block;
            padding: 4rpx;
            margin-top: 10rpx;
            margin-right: 10rpx;
            color: #fff;
            background-color: #ff397e;
          }
        }

        .price {
          text {
            display: inline-block;
            padding: 4rpx;
            margin-top: 10rpx;
            margin-right: 10rpx;
            color: #fff;
            background-color: #ff397e;
          }
        }
      }
    }
  }

  .next-page {
    padding: 20rpx;
    margin-top: 20rpx;
    text-align: center;
  }
}
