@import '../../assets/scss/mixin';

.container {
  height: 100%;
  text-align: center;
  background-color: #fff;

  button {
    display: inline-block;
    width: 300px;
    height: 60rpx;
    padding: 0 20rpx;
    margin: 20rpx auto;
    font-size: 30rpx;
    line-height: 60rpx;
    color: #fff;
    background-color: #ff397e;
  }
}
