@import '../../assets/scss/mixin';

.container {
  height: 100%;
  background-color: #fff;
}

.singer-image {
  padding: 20rpx 0;
  text-align: center;

  image {
    width: 140rpx;
    height: 140rpx;
    border-radius: 50%;
  }
}

.song {
  padding: 20rpx;
  background-color: #fff;

  .song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32rpx;
    line-height: 70rpx;
    border-top: 1rpx solid #ddd;
  }
}
