@import '../../assets/scss/mixin';

.container {
  height: 100%;
}

.storyLibrary {
  padding-top: 20rpx;
  background-color: #fff;

  .books-num {
    text-align: center;
  }

  .books-list {
    margin-top: 20rpx;

    .books-item {
      @include nativeborder();
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20rpx;

      .books-item-left {
        width: 126rpx;
        height: 179rpx;

        .book-iamge {
          width: 100%;
          height: 100%;
        }
      }

      .books-item-right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        height: 180rpx;
        margin-left: 20rpx;

        .book-last_update_chapter {
          font-size: 24rpx;
          color: #ff397e;
        }
      }
    }
  }
}
