@import '../../assets/scss/mixin';

.container {
  height: 100%;
  background-color: #fff;
}

.story {
  background-color: #fff;

  .slide {
    height: 400rpx;
    margin-top: 20rpx;
    background-color: #fff;

    .slide-image {
      width: 100%;
      height: 100%;
    }
  }

  .module-title {
    height: 100rpx;
    margin-top: 20rpx;
    font-size: 36rpx;
    line-height: 100rpx;
    text-align: center;
    background-color: #fff;
  }

  .books-list {
    @include nativeborder();
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20rpx;

    .books-item {
      width: 200rpx;
      margin-bottom: 20rpx;

      .book-iamge {
        width: 252rpx;
        height: 286rpx;
      }

      .book-name {
        @include text(1, 30, 26);
        margin: 10rpx 0;
        color: #666;
        text-align: center;
      }

      .book-autor {
        @include text(1, 30, 24);
        color: #999;
        text-align: center;
      }
    }
  }

  .search {
    padding: 0 20rpx;
    background-color: #fff;

    .search-control {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        flex: 1;
        height: 60rpx;
        padding: 0 10rpx;
        line-height: 60rpx;
        border-top: 1rpx solid #ddd;
        border-bottom: 1rpx solid #ddd;
        border-left: 1rpx solid #ddd;
      }

      button {
        width: 100rpx;
        height: 60rpx;
        line-height: 60rpx;
        color: #fff;
        background-color: #ff397e;
        border: 1rpx solid #ff397e;

        &.cancel {
          background-color: #ddd;
          border: 1rpx solid #ddd;
        }
      }
    }

    .search-hotkeys {
      padding: 20rpx 0;
      background-color: #fff;

      .hotkey {
        display: inline-block;
        padding: 10rpx 20rpx;
        margin-right: 20rpx;
        margin-bottom: 20rpx;
        font-size: 24rpx;
        border: 1px solid #bbb;
        border-radius: 20rpx;

        &.first-child {
          color: #ff397e;
          border: 1px solid #ff397e;
        }
      }
    }
  }
}

.storyAction {
  position: fixed;
  bottom: 50rpx;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 60rpx;

  button {
    padding: 10rpx 20rpx;
    color: #ff397e;
    background-color: #fff;
    border: 1px solid #ff397e;
    border-radius: 10rpx;
  }

  .toShare {
    padding: 10rpx 40rpx;
    color: #fff;
    background-color: #ff397e;
  }
}
